# Это файл конфигурации пользователя Git.
[user]
	name = Chushpanishe
	emale = fkornein@gmail.com
# Пожалуйста, адаптируйте и раскомментируйте следующие строки:
#	user = user
#	email = fkornein@gmail.com

